In [1]:
import numpy as np

# GENERATE SAMPLE DATA : HEIGHTS OF 30 STUDENTS(IN INCHES)

In [2]:
np.random.seed(40)
heights=np.random.normal(loc=65,scale=3,size=30)

In [3]:
heights

array([63.17735691, 64.62159076, 62.94618092, 67.78614425, 59.4667969 ,
       63.59899273, 71.87747103, 66.46643016, 67.13080097, 68.16660333,
       65.1622193 , 65.77386025, 66.76484495, 67.65573272, 61.94897893,
       64.59892091, 63.6854435 , 66.48033048, 64.40297264, 61.17504918,
       65.88048246, 65.32685094, 65.09518036, 68.81791959, 68.2143437 ,
       66.24745404, 69.65203769, 64.06586325, 60.86228028, 69.11422636])

# Point Estimation:Calculate the sample mean

In [4]:
sample_mean=np.mean(heights)
print("Sample Mean (Point Estimation):",sample_mean)

Sample Mean (Point Estimation): 65.53877864874389

In [ ]:
import numpy as np
import scipy.stats as stats

# GENERATE SAMPLE DATA : HEIGHTS OF  30 STUDENTS(IN INCHES)

In [ ]:
np.random.seed(40)
heights=np.random.normal(loc=65,scale=3,size=30)

# CALCULATE THE SAMPLE MEAN AND STANDARD DEVIATION

In [ ]:
sample_mean=np.mean(heights)
sample_std=np.std(heights,ddof=1)

# SET THE DESIRED CONFIDENCE LEVEL

In [ ]:
confidence_level=0.95

# CALCULATE THE MARGIN OF ERROR

In [ ]:
margin_of_error=stats.t.ppf((1 + confidence_level)/2,len(heights)-1)*(sample_std/np.sqrt(len(heights)))

In [ ]:
margin_of_error

# CALCULATE THE CONFIDENCE INTERVAL

In [ ]:
lower_bound=sample_mean - margin_of_error
upper_bound=sample_mean + margin_of_error

# PRINT THE CONFIDENCE INTERVAL

In [ ]:
print(f"confidence Interval({confidence_level*100}%):[{lower_bound},{upper_bound}]")

# HYPOTHESIS T TEST

# GENERATE SAMPLE DATA FOR TWO GROUPS

In [ ]:
np.random.seed(42)
group1_scores=np.random.normal(loc=70, scale=5, size=30)
group2_scores=np.random.normal(loc=75, scale=5, size=30)

# PERFORM INDEPENDENT T TEST

In [ ]:
t_statistic,p_value=stats.ttest_ind(group1_scores,group2_scores)

# SET THE SIGNIFICANCE LEVEL

In [ ]:
alpha=0.05

In [ ]:
print("T-test Results:")
print("T-statistic:",t_statistic)
print("p-value:",p_value)

# CHECK IF  THE ALPHA TO DETERMINE SIGNIFICANCE

In [ ]:
if p_value < alpha:
    print("reject the null hypothesis.there is a significant difference between the means of two groups. ")
else:
    print("fail to reject the null hypothesis.there is no significant difference between the means of the two groups.")

# Perfom Two Tailed Test

In [ ]:
statistic_2tail,p_value_2tail=stats.ttest_ind(group1_scores,group2_scores)

# Perform one-Tailed T_-Test(right-tailed)

In [ ]:
t_statistic_1tail,p_value_1tail=stats.ttest_ind(group1_scores,group2_scores,alternative="greater")

# Perform one-Tailed T-Test(left-tailed)

In [ ]:
t_statistic_1tail_left,p_value_1tail_left=stats.ttest_ind(group1_scores,group2_scores,alternative="less")

# Print Two-Tailed Test Result

In [ ]:
print("TWO Tailed Test:")
print("T-statistic:",statistic_2tail)
print("p_value:",p_value_2tail)

# Perform one-Tailed T-Test(right-tailed) Result

In [ ]:
print("TWO Tailed Test:")
print("T-statistic:",t_statistic_1tail)
print("p_value:",p_value_1tail)

# Perform one-Tailed T-Test(left-tailed) Result

In [ ]:
print("TWO Tailed Test:")
print("T-statistic:",t_statistic_1tail_left)
print("p_value:",p_value_1tail_left)